.copyright {
    padding: 10px;
    background-color: rgb(134, 48, 160);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    position: fixed;
    bottom: 0;
}

.card {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    transition: transform .5s;
}

.card:hover {
    transform: scale(1.03);
}

.navbar {
    background: #edaef9;
    background: -moz-linear-gradient(left, #edaef9 0%, #81b1fa 100%);
    background: -webkit-linear-gradient(left, #edaef9 0%, #81b1fa 100%);
    background: linear-gradient(to right, #edaef9 0%, #81b1fa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edaef9', endColorstr='#81b1fa', GradientType=1);
}

.bold {
    font-weight: bold;
}

h1,
h3 {
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(40, 166, 205), rgb(220, 118, 220));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ultimoElemento {
    margin-bottom: 4cm;
}

.txtArea {
    font-family: monospace;
    word-break: break-all;
    white-space: pre-wrap;
    background-image: -webkit-linear-gradient(rgb(40, 166, 205), rgb(220, 118, 220));
    line-height: 15px;
    padding: 10px;
    font-weight: bold;
    color: white;
    font-kerning: none;
    font-size: larger;
}

.colorido {
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(40, 166, 205), rgb(220, 118, 220));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.txtSobreImg {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imagen {
    opacity: 30%;
}

#lista>li {
    padding: 6px;
    font-family: monospace;
    font-size: larger;
}

#lista>img {
    margin-bottom: 70px;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right,
            rgba(40, 167, 205, 0.100) 0%,
            rgb(40, 166, 205, 0) 50%,
            rgb(220, 118, 220, 0) 50%,
            rgb(220, 118, 220, 0.100) 100%);
}

.container-fluid {
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}